# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-related
*.log
*.pot
*.pyc
db.sqlite3
/media
/staticfiles

# Ignore environment configuration files
.env

# Ignore IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore migrations, as they can be generated again from `python manage.py makemigrations`
**/migrations/
