*{
    margin: 0px;
    padding: 0px;
}
.Sidecontainer{
    height: 130vh;
    width: 20vw;
    background:rgb(141,146,175);
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border: rgb(2, 2, 2) solid 1px;

}
.Navcontainer{
    height: 10vh;
    width: 84.1vw;
    background-color:  rgb(50,49,56);
    border: rgb(2, 2, 2) solid 1px;
}
.main{
    display: flex;
    
}
/* .sd12{
    margin-top: 2vh;
    color: rgb(227, 227, 227);
    font-size: 1.2vw;
    font-weight: 800;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}
.sd1{
    color: rgb(227, 227, 227);
    font-size: 1.2vw;
    font-weight: 800;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
} */
.sd13 img{
    width: 8vw;
    height: 15vh;    
}
.sd13{ 
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    /* border:  rgb(70, 70, 70) solid 2px; */
    border-radius: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.taskGiven1,.taskGiven2,.taskGiven3,.taskGiven4,.taskGiven5,.taskGiven6{
    display: flex;
    gap: 1vw;
    /* border: rgb(70, 70, 70) solid 2px; */
    border-radius: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
}
.taskGiven1.clicked1 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven1.clicked1 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGiven2.clicked2 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven2.clicked2 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGiven3.clicked3 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven3.clicked3 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGiven4.clicked4 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven4.clicked4 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGiven5.clicked5 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven5.clicked5 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGiven6.clicked6 {
    background-color: lightgray;
    /* Change to the desired color */
}
.taskGiven6.clicked6 span{
    color: rgb(1, 1, 1);
    /* Change to the desired color */
}
.taskGivenImage img{
    width: 3vw;
    height: 5vh;
    margin-left: 0.4vw;
}
.taskGivenText{

    display: flex;
    
    
    width: 10vw;
}
.taskGivenText span{
    color: rgb(227, 227, 227);
    font-size: 1.2vw;
    font-weight:900;
}
.Navcontainer{
    display: flex;
    justify-content: end;
    
}
.navBarContent {
    display: flex;
}
.navBarContent img{
    cursor: pointer;
    width: 3vw;
    height: 5vh;  
    display: flex;
    
    margin-right: 2vw;

}
.but12{
    display: flex;
    gap: 1vw;
    margin-right: 1vw;
}
.but1 button{
background-color: rgb(88, 89, 89);
width: 6vw;
height: 4vh;
font-size: 0.9vw;
display: flex;
align-items: center;
justify-content: center;
font-weight: 900;

}
.img1{
margin-top: 0.96vw;
}
.nAndB{
    display: flex;
    flex-direction: column;
}
a{
        text-decoration: none; 
}


























































/* }
AssignmentReturnedTwoToneIcon{
    font-size: 3vw;
}
.sd12 img{
    
    width: 3vw;
    height: 4vh;
}
.sd1 img{
    margin-left: 0px;
    width: 3vw;
    height: 4vh;
}
.sd12img{
margin-left: 0px;
} */


